<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/style.css">
  <title>Color</title>
</head>

<body>

  <header>
    <a href="/">
      <h1>&lt;colortools.Color object at {{ color.hex }}&gt;</h1>
    </a>
    <div class="base-color" style="background: #{{ color.hex }}"></div>
    <h2>{{ color.analyze() }}</h2>
    <p>
      <strong>Red:</strong> {{ color.red }}<br>
      <strong>Green:</strong> {{ color.green }}<br>
      <strong>Blue:</strong> {{ color.blue }}<br>
      <strong>Hue:</strong> {{ color.hue }}<br>
      <strong>Lightness:</strong> {{ color.lightness }}<br>
      <strong>Saturation:</strong> {{ color.saturation }}<br>
      <strong>Hexadecimal: </strong> {{ color.hex }}<br>
    </p>
  </header>

  <main>

    <div class="color-suggestions">
      <h2>Lightness scheme</h2>
      {% for value in lightness %}
      <a class=" color-suggestion" style="background-color: #{{ value }}" href="{{ value }}">{{ value }}</a>
      {% endfor %}
    </div>

    <div class="color-suggestions">
      <h2>Hue scheme</h2>
      {% for value in hue %}
      <a class="color-suggestion" style="background-color: #{{ value }}" href="{{ value }}">{{ value }}</a>
      {% endfor %}
    </div>

    <div class="color-suggestions">
      <h2>Saturation scheme</h2>
      {% for value in saturation %}
      <a class="color-suggestion" style="background-color: #{{ value }}" href="{{ value }}">{{ value }}</a>
      {% endfor %}
    </div>

  </main>

  <footer>
    <div class="color-suggestions">
      <h2>Here are some more random colors to browse</h2>
      {% for value in more %}
      <a class="color-suggestion" style="background-color: #{{ value }}" href="{{ value }}">{{ value }}</a>
      {% endfor %}
    </div>
  </footer>
</body>

</html>