<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Surf colors for a while</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .color-suggestion {
      padding: 80px;
    }

    .color-suggestion a {
      background-color: white;
      color: black;
    }
  </style>
</head>

<body>
  {% for value in result %}
  <div class="color-suggestion" style="background-color: #{{ value }}">
    <a href="{{ value }}">{{ value }}</a>
  </div>
  {% endfor %}
</body>

</html>